.body {
	height: 600px;
	width: 600px;
	background: #850000;
}
.bishop, .rook  {
	margin-left: 200px;
	background: #ffffff;
}
.bishop-image, .knight-image, .rook-image, .bishop, .rook, .knight, .block {
	width: 200px;
	height: 200px;
}
.knight {
	background: #ffffff;
	float: left;
}
.block {
	background: #ffffff;
	margin-left: 400px;
 }
